wushu-backend.rycerz.es {
    reverse_proxy api:5000
}

wushu.rycerz.es {
    reverse_proxy host.docker.internal:3001
}

api.rycerz.es {
    reverse_proxy host.docker.internal:8000
}

chat.rycerz.es {
    reverse_proxy host.docker.internal:3000
}
